.card {
    padding: 4rem;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  
    .search-wrapper {
      display: flex;
      align-items: center;
  
      .button {
        margin-left: 3rem;
      }
    }
  }
  
  .pagination {
    text-align: right;
  }
  