<app-card class="card">
  <div class="header">
    <p class="title">{{ 'Notifications' | translate }}</p>
    <app-search-input [searchForm]="form" controlName="search" [large]="true" class="search-input"></app-search-input>
  </div>
  <div class="notifications">
    <app-notification-item *ngFor="let notification of notifications| paginate: { itemsPerPage: pagination?.limit,
                                                            currentPage: pagination?.pageNumber,
                                                            totalItems: pagination?.totalRecord }" [notification]="notification"></app-notification-item>
  </div>
  <div class="pagination">
    <app-pagination [form]="form" controlName="page"></app-pagination>
  </div>
</app-card>
