.card {
  padding: 4rem;

  .input {
    width: 30rem;
  }

  .table-row:hover {
    background-color: var(--color-card-background);
    cursor: auto;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-table-border);
    padding-top: 2rem;

    .button {
      width: 30rem;
    }
  }
}
